<!document html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Budget App</title>
</head>
<body>
  <header>
    <nav>
      <div class="logo">
        <h1>SmartMoney.</h1>
      </div>
      <div class="main-nav">
        <a href="/"> <i class="fa-solid fa-house"></i></i> Dashboard</a>
        <a href="/my-goal"> <i class="fa-solid fa-square-check"></i> My Goal</a>
        <a href="/tracker"> <i class="fa-solid fa-cart-shopping"></i> Track Spending</a>
        <a href="/income"> <i class="fa-solid fa-dollar-sign"></i> Income</a>
        <a href="/expenses"> <i class="fa-solid fa-receipt"></i> Expenses</a>
        <a href="/savings"> <i class="fa-solid fa-piggy-bank"></i> Savings</a>
        <a href="/debt"> <i class="fa-solid fa-credit-card"></i> Debt</a>
        <a href="/analysis"> <i class="fa-solid fa-chart-column"></i> Analysis</a>
        <a href="/settings"> <i class="fa-solid fa-gear"></i> Settings</a>
        <a href="/help"> <i class="fa-solid fa-circle-question"></i> Help & Support</a>
        <a href="/sign-out"> <i class="fa-solid fa-arrow-right-from-bracket"></i>Log Out</a>
      </div>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
  
  <script src="/javascripts/application.js"></script>
</body>
</html>
