<section class="page-title">
  <h1>Add Income</h1>
</section>

<section class="form-section">
  <form action="/income" method="post">
    <input name="title" type="text" placeholder="Source of Income" maxlength="100" required>
    <input name="memo" type="text" placeholder="Add a short description">
    <input name="income" type="number" min="0" required placeholder="How much do you expect to make in one month?">
    <div class="range-container">
      <p><span id="rangeValue">12</span><br>Source of income duration (months per year)</p>
      <input  class="range" name="duration" type="range" value="12" min="1" max="12" onChange="rangeSlide(this.value)" onmousemove="rangeSlide(this.value)">
    </div>
  <div class="form-btns">
    <a href="/income" class="cancel-btn">cancel</a>
    <input type="submit" value="submit">
  </div>
  </form>
</section>

<script type="text/javascript">
  function rangeSlide(value) {
    document.getElementById('rangeValue').innerHTML = value;
  }
</script>