<section class="page-title">
  <h1>Add Debt Account</h1>
</section>

<section class="form-section">
  <form action="/debt" method="post">
    <input name="title" type="text" placeholder="Debt account name" maxlength="100" required>
    <input name="amount" type="number" min="0" required placeholder="How much do you owe on the account?">
    <div class="form-select">
      <label for="category">Select a debt category:</label>
      <select name="category" id="debt-category" required>
        <option value="1">Credit Card</option>
        <option value="2">Personal Loan</option>
        <option value="3">Student Loan</option>
        <option value="4">Mortgage</option>
        <option value="5">Auto Loan</option>
        <option value="6">Overdraft</option>
        <option value="7">Other</option>
      </select>
    </div>
  <div class="form-btns">
    <a href="/debt" class="cancel-btn">cancel</a>
    <input type="submit" value="submit">
  </div>
  </form>
</section>
