* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
  font-family: 'Mukta', sans-serif;
}

body {
  position: relative;
}

/* Navigation */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
}

nav {
  height: 100vh;
  /* background-color: #5b9b5b; */
  background-color: #fff;
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav>div {
  display: flex;
  flex-direction: column;
}

.logo h1 {
  color: #333;
  font-size: 2.4rem;
  margin-bottom: 10rem;
  font-weight: 200;
  letter-spacing: .25rem;
}

.main-nav {
  width: 100%;
}

.main-nav a {
  color: #333;
  font-size: 1.6rem;
  font-weight: 100;
  letter-spacing: .1rem;
  padding: 1.5rem 0;
  text-transform: capitalize;
}

.sub-nav {
  position: absolute;
  bottom: 25;
}

.sub-nav a {
  color: #333;
  font-size: 1.4rem;
  letter-spacing: .1rem;
  margin-bottom: .75rem;
  font-weight: 300;
}

.menu-dropdown {
  display: flex;
  flex-direction: column;
  display: none;
}

.menu-dropdown a {
  font-size: 1.6rem;
  padding: .5rem 1.5rem;
  font-weight: 300;
}

main {
  position: absolute;
  right: 0;
  min-height: 100vh;
  width: 85%;
  background-color: #F3F3F3;
}

.page-title {
  width: 100%;
  padding: 5rem 7.5rem;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .75fr 1fr;
  gap: 2.5rem 5rem;
  grid-template-areas:
    "stats stats stats"
    "lists side"
  ;
}

.lists {
  grid-column: span 2;
}

.total-income {
  width: 100%;
  padding: 5rem 7.5rem;
}

.income-display {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 2.5rem;
  border-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.income-display h3 {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: .15rem;
  text-transform: uppercase;
  color: #AAD77A;
}

.income-display span {
  font-size: 5rem;
}

.list-title {
  display: flex;
  justify-content: space-between;
}

.list-entry {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  min-height: 10rem;
  padding: 2.5rem;
  margin-bottom: 2.5rem;
}

.list-left {
  width: 60%;
}

.list-left h3 {
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: .15rem;
  color: #333;
}

.list-right {
  width: 40%;
  text-align: right;
  font-size: 1.6rem;
}

.edit {
  color: #AAD77A;
  margin-left: 2.5rem;
}

.detail_overview {
  width: 30%;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}